@import '../../shared/colors'; 

.header {
  display: flex;
  text-transform: uppercase;
  margin: 3vw auto;
  padding-right: 8vw;
  padding-left: 8vw;
  .left {
    flex: 1 1 auto;
  }
  .center {
    flex: 0 0 auto;
    font-size: 1.6em;
    line-height: 1.1em;
    letter-spacing: .11em;
  }
  .right {
    flex: 1 1 auto;
    font-size: 13px;
    letter-spacing: .2em;
    text-transform: uppercase;
    line-height: 1;
    align-self: center;
    nav {
      ul {
        display: flex;
        justify-content: flex-end;
        li {
          a:hover {
            color: $color-yellow;
          }  
        }
      }
    }
  }
}